button {
			margin: 25px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			padding: 8px 15px;
			text-transform: uppercase;
			border-radius: 5px;
			outline: none;
			position: relative;
			overflow: hidden;
			box-sizing: border-box;
			height: 35px;
			width: 85px;
		}

		#btn-1 {
			border: 0;
			background: linear-gradient(45deg, #ccffff, #ffcccc);
			color: #222;
		}

		@keyframes ripple {
			100% {
				transform: translate(-50%, -50%) scale(100);
				opacity: 0;
			}
		}